@import "tailwindcss";

:root {
  --color-primary: #991b1b;
  --color-primary-light: #ef4444;
  --color-primary-dark: #7f1d1d;
  --color-accent: #f87171;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Segoe UI', sans-serif;
  color: #1e293b;
}
